---
layout: base
---
<div id="toc">
</div>	

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
	  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </header>
  
	<!--div id="toc"></div-->

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script type="text/javascript">
$(document).ready(function() {
    var toc = $("#toc");
    toc.append('<ul>');
  
    $("article h2, article h3").each(function() {
        var link = $("<a/>");
        link.attr("href", "#" + $(this).attr("id"));
        link.text($(this).text());
        
        var li = $("<li/>");
        if($(this).is("h2")) {
            li.addClass("toc-indent");
        }
        if($(this).is("h3")) {
            li.addClass("toc-indent-more");
        }
        li.append(link);
        toc.children('ul').append(li);
    });
  
    toc.append('</ul>');
});
</script>
